/* Store this code in 'style.css' file inside the 'static' folder*/
*
{
    overflow: hidden;
}
.header{
    padding: 5px 100px;
    width: 150px;
    height: 70px;
    background-color: #1a242a;
}

.border{
    padding: 8px 5px;
    width: 400px;
    height: 450px;
    border: 1px solid #718490;;
    border-radius: 0px;
    background-color: #1a242a;
}

.btn {
    padding: 10px 40px;
    background-color: #1a242a;
    color: #FFFFFF;
    font-style: oblique;
    font-weight: bold;
    border-radius: 10px;
}

.textbox{
    padding: 10px 40px;
    background-color: #1a242a;
    color: #FFFFFF;
    border-radius: 10px;
}
    
::placeholder {
    color: #FFFFFF;
    opacity: 1;
    font-style: oblique;
    font-weight: bold;
}

.word{
    color: #FFFFFF;
    font-style: oblique;
    font-weight: bold;
}

.bottom{
    color: #236B8E;
    font-style: oblique;
    font-weight: bold;
}
